<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">

  <title>{{ profile.name }} - {{ titleContext }}</title>
  <meta name="keywords" content="{{ profile.name }}, Developer, Portfolio, {{ titleContext }}" />
  <meta name="description" content="Developer portfolio website for {{ profile.name }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

  <meta name="og:url" content="">
  <meta name="og:title" content="{{ profile.name }}">
  <meta name="og:type" content="website">
  <meta name="og:description" content="Developer portfolio website for {{ profile.name }}.">
  <meta name="og:image" content="">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="img/apple-touch-icon.png">

{% block styles %}
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/vendor/fontawesome-free/css/all.css">
  <link rel="stylesheet" href="/css/main.css">
{% endblock %}

  <meta name="theme-color" content="#b833c0">
</head>

<body>

{% include 'header.twig' %}

{% include 'hero.twig' %}

  <main class="container">
{% include 'tabs.twig' %}
{% block content %}{% endblock %}
  </main>

{% include 'footer.twig' %}

{% include 'sign-out.twig' %}

{% block scripts %}
  <script src="/js/vendor/modernizr-3.11.2.min.js"></script>
  <script src="/vendor/jquery/jquery.js"></script>
  <script src="/vendor/popper/popper.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.js"></script>
  <script src="/js/plugins.js"></script>
  <script src="/js/main.js"></script>
{% endblock %}

</body>

</html>
