{% extends 'base.twig' %}

{% set pageName = 'skills' %}
{% set titleContext = 'Skills' %}

{% block styles %}
{{ parent() }}
  <link rel="stylesheet" href="/vendor/bootstrap-table/css/bootstrap-table.css">
  <link rel="stylesheet" href="/vendor/bootstrap-table/css/bootstrap-table-filter-control.css">
  <link rel="stylesheet" href="/css/table.css">
{% endblock %}

{% block content %}
    <div id="skillsCard" class="card hide">
      <div id="skillsToolbar">
      </div>
      <table
          id="skillsTable"
          data-toolbar="#skillsToolbar"
          data-classes="table table-bordered table-hover table-striped"
          data-buttons="skillsButtons"
          data-buttons-class="link"
          data-filter-control="true"
          data-pagination="true"
          data-page-size="8"
          data-page-list="[8, 16, 24, 48, all]"
          data-show-footer="true"
          data-toggle="table">
        <thead>
          <tr>
            <th data-field="level" data-sortable="true" data-filter-control="select">Level</th>
            <th data-field="category" data-sortable="true" data-filter-control="select">Category</th>
            <th data-field="skill" data-sortable="true" data-filter-control="input">Skill</th>
            <th data-field="description" data-sortable="true" data-filter-control="input">Description</th>
          </tr>
        </thead>
        <tbody>
{% for skill in data %}
          <tr><td>{{ skill.level }}</td><td>{{ skill.category }}</td><td>{{ skill.skill }}</td><td>{{ skill.description }}</td></tr>
{% endfor %}
        </tbody>
      </table>
      <small>
        Please note; this list contains all of the <em>Core</em> technologies and <em>Proficiencies</em> I quote on my CV but also
        includes an additional <em>Familiar</em> level. This is a more detailed breakdown of some of the technologies and tools
        already listed in case of specific requirements.
      </small>
    </div>
{% endblock %}

{% block scripts %}
{{ parent() }}
  <script src="/vendor/bootstrap-table/js/bootstrap-table.js"></script>
  <script src="/vendor/bootstrap-table/js/bootstrap-table-filter-control.js"></script>
  <script src="/js/table.js"></script>
{% endblock %}
